.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  background-color: var(--color-black-opaque-50);
}

.navbar__logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-text-main);
}

.navbar__logo:hover {
  color: var(--color-hover-blue);
}
