.footer {
  background-color: var(--color-black-opaque-50);
  color: var(--text-color-main);
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
}

.footer__text {
  display: flex;
  align-self: flex-start;
  font-size: 0.8rem;
  font-weight: 500;
}

.footer__social {
  display: flex;
  align-self: flex-end;
  margin-left: auto;
  margin-right: 10px;
}

.footer__social-icon {
  font-size: 1.5rem;
  margin: 0 10px;
  color: var(--color-text-main);
}

.footer__social-icon:hover {
  color: var(--color-hover-blue);
}
